.about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    max-width: 70vw;
    margin: 2rem auto;

    @media screen and (min-width: $bp-medium) {
        margin: 3rem auto;
    }

    @media screen and (min-width: $bp-large) {
        margin: 8rem auto;
        min-height: 290px;
    }

    &__heading {
        display: flex;
        font-size: 25px;
        margin-bottom: 5px;

        @media screen and (min-width: $bp-medium) {
            justify-content: flex-end;
            font-size: 50px;
            letter-spacing: 4px;
            margin-bottom: 0
        }

        @media screen and (min-width: $bp-large) {
            font-size: 100px;
            letter-spacing: 4px;
        }

        @media screen and (min-width: $bp-largest) {
            font-size: 140px;
            letter-spacing: 10px;
        }

    }

    &__text {
        position: relative;
        color: rgb(78, 78, 78);
        font-weight: 400;

        font-size: 13px;
        margin-top: 15px;

        @media screen and (min-width: $bp-small) {
            margin: 20px auto 30px auto;
        }


        @media screen and (min-width: $bp-large) {
            position: absolute;
            top: 53px;
            font-size: 20px;
            max-width: 70%;
            margin: 0 0 20px 0;
          
        }

        @media screen and (min-width: $bp-largest) {
            max-width: 60%;
            top: 65px;
        }

    }

    &__img {
        position: relative;
        margin: auto;
        padding: 2.5rem 2rem 2rem 2rem;
        max-width: 1100px;
        margin-bottom: 100px;

        @media screen and (min-width: $bp-largest) {
            padding: 3rem 0 0 0;
        }

        .square-1 {
            background-color: $color-primary;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
            width: 170px;
            height: 100px;
            padding: 3rem .5rem 0 2rem;

            @media screen and (min-width: $bp-small) {
                margin-left: 40px;
                width: 180px;
                height: 100px;
                // padding: 6rem 2rem 0 4rem;
                padding: 8px
            }


            @media screen and (min-width: $bp-medium) {
                margin-left: 80px;
                width: 300px;
                height: 400px;
                padding: 6rem 2rem 0 4rem;

            }


            @media screen and (min-width: $bp-large) {
                margin-left: 0;
                width: 400px;
                height: 600px;
                padding: 6rem 2rem 0 4rem;

            }
        }

        &-square-2 {
            position: absolute;
            z-index: -1;
            bottom: -80px;
            margin-right: 20px;


            @media screen and (min-width: $bp-small) {
                position: absolute;
                z-index: -1;
                width: 75%;
                bottom: -80px;
                right: 80px;
            }


            @media screen and (min-width: $bp-medium) {
                position: absolute;
                z-index: -1;
                width: 75%;
                bottom: -100px;
                right: 100px;


            }

            @media screen and (min-width: $bp-large) {
                padding: 3rem;
                position: absolute;
                z-index: -1;
                width: 75%;
                bottom: -100px;
                right: 0;
            }
        }

        .women-img {
            width: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        }




        //------------------------------------- LINE FEATURE ----------------------------------------//
        &-line {
            display: none;
            position: absolute;
            top: 60%;
            left: 6rem;
            width: 15px;
            height: 100px;
            background: $color-primary-light;
            margin-left: 85px;

            @media screen and (min-width: $bp-medium) {
                display: inline;
            }

            @media screen and (min-width: $bp-large) {
                margin-left: 0;
            }

            &:before {
                content: "";
                position: absolute;
                width: 15px;
                height: 100px;
                margin-left: 100px;
                background: $color-primary-light;
            }

            &:after {
                content: "";
                position: absolute;
                width: 15px;
                height: 100px;
                margin-left: 50px;
                background: $color-primary-light;
            }

        }
    }
}

////---------------------------------------PROCESS SECTION----------------------------------------///

.process {

    background-color: $color-primary-light;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;


    @media screen and (min-width: $bp-large) {
        min-height: 100vh;
        background-image: url(../img/about__process.jpg);
        background-size: cover;
        position: relative;
        margin-top: 20rem;
    }


    &__heading {
        color: #fff;
        text-shadow: $color-grey-dark 1px 0 10px;
        z-index: 1;
        font-size: 2.5rem;
        margin: 2rem 0 0rem 3rem;


        @media screen and (min-width: $bp-medium) {
            font-size: 12rem;
            margin: 4rem 0 0rem 6rem;
        }

        @media screen and (min-width: $bp-large) {
            font-size: 15rem;
            margin: 12rem 0 0rem 12rem;
        }

    }

    &__box-1-of-2 {
        max-width: 70rem;
        font-size: 13px;
        margin: 1rem 2rem 1rem 3rem;

        @media screen and (min-width: $bp-medium) {
            margin: 3rem 0 2rem 10rem;
            font-size: 1.6rem;
        }

        @media screen and (min-width: $bp-large) {
            margin: 7rem 0 5rem 17rem;
            font-size: 1.8rem;
        }
    }

    &__box-2-of-2 {
        max-width: 70rem;
        font-size: 13px;
        margin: 0rem 2rem 1rem 3rem;

        @media screen and (min-width: $bp-medium) {
            margin: 2rem 0 2rem 10rem;
            font-size: 1.6rem;
        }

        @media screen and (min-width: $bp-large) {
            margin: 0rem 0 5rem 17rem;
            font-size: 1.8rem;
        }
    }

    &__box-title {
        text-transform: initial;
        font-weight: 500;
        line-height: 1.1;
    }

    &__text-box {
        line-height: 1.5;
        margin: 1rem 1rem 1rem 0;

        @media screen and (min-width: $bp-medium) {
            padding-top: 1rem;
            margin: 0;
        }

        @media screen and (min-width: $bp-large) {
            padding-top: 1.5rem;
        }
    }
}

////---------------------------------------LEADERSHIP----------------------------------------///


.leadership {
    background-color: $color-primary;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (min-width: $bp-medium) {
        min-height: 50rem;
        background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary, 0.8)),
            url(../img/about__leadership.jpg);
        background-size: cover;
        position: relative;
    }

    @media screen and (min-width: $bp-large) {
        min-height:85rem;

    }

    &__heading {
        color: #fff;
        background-color: $color-primary;
        background-size: fill;
        z-index: 1;
        font-size: 2.5rem;
        padding: 2rem 0 0rem 3rem;
        text-shadow: $color-grey-dark 1px 0 10px;


        @media screen and (min-width: $bp-medium) {
            font-size: 12rem;
            background-color: transparent;
            padding: 0;
        }

        @media screen and (min-width: $bp-largest) {
            position: absolute;
            z-index: 1;
            font-size: 15rem;
            top: -11rem;
            right: -11.3rem;
            text-shadow: none;
        }
    }

    &-title {

        &:after {
            position: absolute;
            content: none;
            height: 2px;
            background-color: $color-primary-light;
            width: 7rem;
            height: 8px;
            padding-left: 3rem;
        }
    }

    &__box-1-of-1 {
        max-width: 70rem;
        font-size: 13px;

        @media screen and (min-width: $bp-medium) {
            position: absolute;
            background-color: transparent;
            top: 7rem;
            left: 10rem;
            font-size: 1.5rem;
        }

        @media screen and (min-width: $bp-large) {
            top: 10rem;
            left: 10rem;
            font-size: 1.8rem;
            padding: 3rem 5rem 4rem 4rem;
        }


        @media screen and (min-width: $bp-largest) {
            background-color: #fff;
            top: 25rem;
            left: 26rem;
            font-size: 1.8rem;
            padding: 3rem 5rem 4rem 4rem;
        }
    }

    &__text-box {
        color: #fff;
        line-height: 1.8;
        margin: 1rem 3rem 2rem 3rem;

        @media screen and (min-width: $bp-medium) {
            margin-top: 2rem;
            padding: 0;
        }

        @media screen and (min-width: $bp-largest) {
            margin-top: 2rem;
            color: black;
        }
    }
}


////---------------------------------------CERTIFICATION----------------------------------------///

.certification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2rem;


        @media screen and (min-width: $bp-large) {
            margin: 5rem;
            flex-direction: row;
        }
        @media screen and (min-width: $bp-largest) {
            margin: 10rem;

        }

    &__textbox {
        font-size: 2rem;
        font-size: 1.3rem;
        padding-left: 2rem;

        @media screen and (min-width: $bp-small) {
            max-width: 30rem;
        }
        

        @media screen and (min-width: $bp-medium) {
            font-size: 1.5rem;
            padding: 0;
            margin-top: 2.5rem;
            max-width: 40rem;
        }

        @media screen and (min-width: $bp-large) {
            max-width: 40rem;
            font-size: 1.8rem;
            margin:0 2rem 0 0;
        }

        @media screen and (min-width: $bp-largest) {
            font-size: 2rem;
            max-width: 64rem;
        }



    }

    &__logo {

        @media screen and (min-width: $bp-largest) {
            margin: 0  8rem;
        }

        img {
            width: 7rem;

            @media screen and (min-width: $bp-small) {
                width: 8rem;
            }


            @media screen and (min-width: $bp-medium) {
                padding-right: 2rem;
                width: 12rem;
            }

            @media screen and (min-width: $bp-largest) {
                padding-right: 3rem;
                width: 14rem;
            }

            @media screen and (min-width: $bp-largest) {
                padding-right: 3.8rem;
                width: 16rem;
            }
        }

    }
}