.case {
    position: relative;
    width: 70vw;
    margin: auto;
    margin-bottom: 8rem;
    

    &__img{
        width: 58%;
        height: 550px;
        background-color: red;
        
    }

    &__text-box{
        position: absolute;
        background-color: $color-grey-dark;
        width: 650px;
        padding: 4rem 12rem 4rem 8rem;
        top: 50px;
        
        h5{
            color: #fff;

            font-size: 35px;
            margin-top: 3rem;
            line-height: 1.5;
        }
    
    }
}

