//------------------INDEX HEADER------------------//

.header {
    height: 95vh;
    min-width: 100%;
    background-image: url(../img/main.jpg);
    background-size: cover;
    color: $color-white;
    display: flex;
    justify-content: center; //center horizontally
    align-items: center; //center vertically   

    line-height: 1.1;



    &__container {
        display: flex;
        position: absolute;
        // border: 1px solid red;    
        flex-direction: column;
        text-align: center; //centers text
        top: 40%;

        @media screen and (min-width: $bp-medium) {
            top: auto;
        }

        &-secondary {
            font-size: 20px;
            font-weight: 300;
            line-height: 2;

            @media screen and (min-width: $bp-medium) {
                font-size: 30px;
            
                ;
            }

            @media screen and (min-width: $bp-large) {
                font-size: 50px;
    
                ;
            }
        }

        &-primary {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 500;

            @media screen and (min-width: $bp-small) {
                font-size: 40px;
                ;
            }

            @media screen and (min-width: $bp-medium) {
                font-size: 60px;
                ;
            }

            @media screen and (min-width: $bp-large) {
                font-size: 80px;
                ;
            }
        }

        &-btn,
        &:link,
        &:visited {

            margin-top: 4rem;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 400;
            color: black;
            background-color: $color-green;
            padding: 0.75rem 1.2rem;
            display: flex;
            align-self: center; //centers btn
            box-shadow: .5rem .5rem 1rem rgba($color-black, .40);


            @media screen and (min-width: $bp-medium) {
                margin-top: 4rem;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 400;
                color: black;
                background-color: $color-green;
                padding: 1.75rem 3.2rem;
                display: flex;
                align-self: center; //centers btn
                box-shadow: .5rem .5rem 1rem rgba($color-black, .40);
            }
        }
    }
}

//------------------PAGES HEADER------------------//
//------------------PAGES HEADER------------------//
//------------------PAGES HEADER------------------//
//------------------PAGES HEADER------------------//


.header__page {
    height: 45vh;
    min-width: 100%;
    background-image: url(../img/main.jpg);
    background-size: cover;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $bp-medium) {
        height: 55vh;
    }


    &-title {
        display: none;
        width: 1200px;
        font-weight: 300;
        letter-spacing: 3px;
        position: relative;
        font-size: 1.8rem;

        &:after{
            position: absolute;
            content: none;
            height: 2px;
            background-color: $color-primary-light;
            width: 7rem;
            height: 8px;
            margin-left: 1.2rem;
            top: 50%;
        }

        @media screen and (min-width: $bp-small) {
            margin-top: 50px;
            font-size: 2.3rem;
        }
        @media screen and (min-width: $bp-medium) {
            margin: 10rem 0 0 10rem;
            font-size: 2.5rem;
            display: inline;
            &:after{
                content: "";
            }
        }
        @media screen and (min-width: $bp-largest) {
            font-size: 3rem;           
               
        }
    }
}
