.review {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; //center horizontally
    align-items: center; //center vertically   

    position: relative;
    background-image: url(../img/index-3.jpg);
    background-size: cover;
    max-width: 100%;
    z-index: 0;
    

    @media screen and (min-width: $bp-smallest) {
        margin: 0;
    }
    @media screen and (min-width: $bp-medium) {
        margin: 0;
    }

    &__container-paragraph{             
        font-size: 2rem;
        font-weight: 400;
        margin: 2rem 0;

        @media screen and (min-width: $bp-medium) {
            margin-top: 3rem;
            margin-bottom: 5rem;
        }
    }
    

    &__client-box {
        background-color: #fff;         
        z-index: 1;
        max-width: 300px;
        padding: 1rem 2rem;
        margin: 3rem 2rem;
        line-height: 1.6;
        max-width: 600px;

        @media screen and (min-width: $bp-medium) {
            background-color: #fff;
            padding: 3rem;
            z-index: 1;
            margin: 10rem 0;
            line-height: 1.6;
        }

        &-title {
            text-transform: uppercase;            
        }
    }

    &__company-logo {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        justify-items: center;

        @media screen and (min-width: $bp-medium) {
            padding-left: 5rem;
            grid-template-columns: repeat(2, 300px);
        }
    }
}


.footer{
    // display: flex;
    // flex-wrap: wrap;    
    background-color: $color-primary-light;   
    padding: 2rem 0 1rem 0rem;    
    text-align: center;

    @media screen and (min-width: $bp-medium) {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;  
        justify-content: space-around;  
        padding: 3rem;
        text-align: start;
        
    }

    

    &__title{
        color: $color-primary;
        font-size: 15px;
        font-weight: 500;
        margin: 0;        
        text-transform: uppercase;
        margin: 10px 0;

    }

        @media screen and (min-width: $bp-medium) {
            font-size: 20px;  

            &__section-1 >ul {
                max-width: 300px;
            }
            &__section-1 > ul > li {        
                display: inline-block;
                width: 30%;                
            }
            &__content{
                &-blog{
                // border: 1px solid red;
                padding-left: 20px;
                }
                &-contact{
                    // border: 1px solid red;
                    padding-left: 20px;
                    }

            }
        }

    &__company-logo {        
        display: flex;
        background-color: $color-primary-light;
        justify-content: center;
    }
}

.btn-footer{
    padding: 3px !important;
    font-size: 10px !important; 
    background-color: #fff;
}

a,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

li{
    display: block;
}